body {
  font-family: "Playfair Display";
  background: url("https://static.vecteezy.com/system/resources/previews/002/275/122/non_2x/black-and-white-grunge-background-realistic-texture-illustration-vector.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;

  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.flex-fill {
  flex: 1 1 auto;
}
